{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "importMeta": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true,
      "useDefineForClassFields": true
    },
    "target": "es2022"
  },
  "exclude": [
    "/__test__/"
  ],
  "sourceMaps": true,
  "isModule": true,
  "minify": false
}
