name: Test (NPM)
on:
  push:
    branches-ignore: ['main']
jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck", "check"]'
  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      npm_build_command: 'npm run tsoa:build'
      pre_test_command: 'npm run db:migrate'
      tests: '["test"]'
  build-docker:
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    permissions:
      packages: write
      contents: write
